body, html {
	height: 100%;
  }
  
  * {
	box-sizing: border-box;
  }
  .h1{
	  color: darkgreen;
  }
  .bg-image {
	/* The image used */
	/* background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
	background-image: url("../static/img/bg.png");
	/* Add the blur effect */
	
	/* Full height */
	height: 100%;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
	
	color: black;
	font-weight: bold;
  	font-family: 'Big Shoulders Stencil Display', cursive;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
	line-height: 1.5em;}
  .btn{
  padding-top: 20px;}
  
  .btn button{
	  background-color: green;
	  font-family: 'Big Shoulders Stencil Display', cursive;
  color: white;
	  border-radius: 20px;
	  padding: 10px;
	  
  }
  
  .btn button:hover{
	  background-color: darkgreen;
	  transition: 1s;
   box-shadow: 5px 5px 5px 5px black;
  }
  
			  